<configuration scan="true" scanPeriod="60 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>sample-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>sample-app.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username>${smtp.username}</username>
        <password>${smtp.password}</password>

        <to>cory@marblesit.com</to>
        <from>cory@marblesit.com</from>
        <subject>ERROR: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{35} - %message%n</pattern>
        </layout>
    </appender>
    
    <!-- Logging of XML messages -->
    <logger name="org.springframework.ws.client.MessageTracing">
    	<level value="TRACE"/>
    </logger>
    <logger name="org.springframework.ws.server.MessageTracing">
    	<level value="TRACE"/>
    </logger>

    <root level="warn">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="email"/>
    </root>

</configuration>